# Steinschlagrisiko cwm1

## Aufgabenstellung
Die Kantonsstrasse unterhalb Schiers (GR) ist vom Steinschlag betroffen. Steine lösen sich von zwei unterschiedlichen Stellen an der Felswand ab (Ablösungszone 1 und Ablösungszone 2). Der betroffene Strassenabschnitt ist mit Steinfangnetzen gesichert, die jedoch in die Jahre gekommen sind und die angestrebte Sicherheit nicht mehr gewährleisten können. Die Planung für Ersatznetze hat bereits begonnen, kann aber frühstens in einem Jahr umgesetzt werden.

In den letzten Monaten haben sich mehrere Steinschlagereignisse ereignet. Kommt es im Lauf des nächsten Jahres zu weiteren vergleichbaren Ereignissen, könnten die alten Sicherheitsnetze versagen und die Verkehrsteilnehmer einem grossen Sicherheitsrisiko ausgesetzt sein. Die Bevölkerung ist verunsichert und der Kantonsingenieur muss schnell entscheiden, ob das Risiko für die Verkehrsteilnehmer zu gross ist und die Kantonsstrasse vorübergehend gesperrt werden muss. Der Kantonsingenieur hat sie beauftragt, anhand von vorhanden Daten die Wahrscheinlichkeit eines Todesfalls zu berechnen und eine Empfehlung bezüglich der Schliessung bzw Offenhaltung der Strasse auszusprechen.

Damit die Strasse offen bleiben kann, muss gezeigt werden, dass die jährliche Wahrscheinlichkeit von Todesfällen infolge Steinschlags kleiner als 10-4  ist. Für die Berechnungen soll ein gut strukturierter und dokumentierter Code in Python oder R entwickelt werden.

## Grundlagen
Für die Planung der neuen Sicherheitsnetze, hat ein beauftragter Geologe, über drei Monate Daten zu den Steinschlagereignisse aufgenommen. Dabei wurde Steingeschwindigkeit, Steinmasse und Zeitpunkt und der Zeitpunkt des Ereignis registriert. Diese Daten können von Ihnen zur Modellbildung verwendet werden und stehen unter folgenden Links zur Verfügung:

Ereignis aus Ablösungszone 1: https://www.dropbox.com/s/i58gdv6pzi03rhr/out_1.csv?dl=0

Ereignis aus Ablösungszone 2: https://www.dropbox.com/s/3nk9pv7nzz8f0qb/out_2.csv?dl=0
NB: Die Geschwindigkeit ist durch einen Radar aufgenommen und sehr präzise. Die Masse ist eine Experten-Schätzung des Geologen.
Ein beauftragtes Ingenieurbüro hat geschätzt, dass die Sicherheitsnetze bis zu einer Aufprallenergie von 1000 kJ sicher sind. Falls bereits ein Stein mit über 2000kg in den Sicherheitsnetzen liegt, beträgt die Aufprallenergie, die von den Sicherheitsnetzen aufgenommen werden kann, nur noch 500 kJ. Steine in den Sicherheitsnetze werden vom Unterhaltsteam entfernt (die Reaktionszeit beträgt 24 Stunden).
Das tägliche Verkehrsaufkommen beträgt 1200 Autos. Stau kommt auf der Strecke nicht vor. Die Tempolimite beträgt 60 km/h.

## Abgabe
Form der Abgabe
Quellcode der Berechnungen in einem Notebook (R oder Jupyter).

Kurzer Bericht (max 8 Seiten) der die Berechnungen klar und nachvollziebar beschreibt und die Empfehlung an den Kantonsingenieur begründet.

### Abgabetermin
Montag, 10. Januar 2022

## 1. Bibliotheken Importieren

In [1]:
import numpy as np
import random as rnd
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
from pandas_profiling import ProfileReport

## 2. Daten einlesen

In [3]:
df1 = pd.read_csv("out_1.csv") # Daten einlesen
df2 = pd.read_csv("out_2.csv")

## 3. Daten Bereinigung

In [70]:
df1.loc[:, ["Datum","Uhrzeit","Masse [kg]","Geschwindigkeit [m/s]"]] # Datentabelle auswaehlen
df1.dropna() # entfernt alle Zeile die mit NA Werte

         Datum Uhrzeit  Masse [kg]  Geschwindigkeit [m/s]
0   2019-01-01   09:00       194.0                    8.4
1   2019-01-01   21:00       224.0                    8.8
2   2019-01-02   14:00      3104.0                    9.2
3   2019-01-04   15:00       228.0                    8.0
4   2019-01-05   23:00       755.0                    7.0
..         ...     ...         ...                    ...
63  2019-03-18   16:00       167.0                    8.9
64  2019-03-22   18:00      2847.0                    7.0
65  2019-03-26   00:00        44.0                    8.9
66  2019-03-26   06:00        45.0                    8.4
67  2019-03-27   16:00       312.0                    5.8

[68 rows x 4 columns]

In [69]:
df2.rename(columns={"Date":"Datum","m [kg]":"Masse [kg]","v [m/s]":"Geschwindigkeit [m/s]"}) # Spaltenname aendern
df2.loc[:, ["Datum","Uhrzeit","Masse [kg]","Geschwindigkeit [m/s]"]] # Datentabelle auswaehlen
df2.dropna() # entfernt alle Zeile die mit NA Werte

         Datum Uhrzeit  Masse [kg]  Geschwindigkeit [m/s]
0   2019-01-01   09:00        38.0                   45.4
1   2019-01-03   06:00       187.0                   41.6
2   2019-01-04   10:00        36.0                   44.6
3   2019-01-07   14:00         6.0                   41.2
4   2019-01-11   06:00        65.0                   39.6
5   2019-01-11   16:00        58.0                   33.2
6   2019-01-14   11:00       365.0                   40.2
7   2019-01-16   02:00        22.0                   46.5
8   2019-01-18   06:00       146.0                   36.2
9   2019-01-19   17:00        29.0                   38.3
10  2019-01-20   22:00        40.0                   41.6
11  2019-01-21   11:00       304.0                   36.7
12  2019-01-22   21:00        33.0                   44.1
13  2019-01-29   07:00        50.0                   40.0
14  2019-02-06   02:00        77.0                   38.0
15  2019-02-10   20:00        76.0                   39.2
16  2019-02-14   05:00       138.0                   33.2
17  2019-02-15   11:00       152.0                   24.9
18  2019-02-16   18:00       241.0                   40.6
19  2019-02-25   14:00        97.0                   30.0
20  2019-02-28   05:00        37.0                   32.2
21  2019-02-28   12:00        64.0                   34.3
22  2019-03-07   21:00        55.0                   31.7
23  2019-03-10   16:00         0.0                   32.3
24  2019-03-10   23:00        45.0                   32.2
25  2019-03-11   18:00       406.0                   44.1
26  2019-03-17   09:00        58.0                   33.6
27  2019-03-20   10:00        16.0                   42.1
28  2019-03-21   13:00       211.0                   29.0
29  2019-03-24   16:00         3.0                   42.3
30  2019-03-25   14:00        63.0                   43.2
31  2019-03-28   01:00        58.0                   37.2

## 4. Tabellen zusammenfuegen

In [65]:
df3 = [df1, df2]

result_df3 = pd.concat(df3)

In [68]:
result_df3

         Datum Uhrzeit  Masse [kg]  Geschwindigkeit [m/s]
0   2019-01-01   09:00       194.0                    8.4
1   2019-01-01   21:00       224.0                    8.8
2   2019-01-02   14:00      3104.0                    9.2
3   2019-01-04   15:00       228.0                    8.0
4   2019-01-05   23:00       755.0                    7.0
..         ...     ...         ...                    ...
30  2019-03-25   14:00        63.0                   43.2
31  2019-03-28   01:00        58.0                   37.2
32         NaN     NaN         NaN                    NaN
33         NaN     NaN         NaN                    NaN
34         NaN     NaN         NaN                    NaN

[114 rows x 4 columns]